/* ========== CART ========== */
.cart {    
    &__header {
        display: grid;
        grid-template-columns: 30px repeat(6, 1fr);
        justify-items: center;
        border-bottom: 1px solid black;
        padding: 1rem 0;

        &-item {
            grid-column: 2 / span 3;
            justify-self: flex-start;
            margin-left: 4rem;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 30px repeat(6, 1fr);
        justify-items: center;
        align-items: center;
        height: 120px;
        padding: 10px 0;
        border-bottom: 1px solid var(--clr-lightgray);

        img {            
            padding: 0.5rem;
            width: 100%;
            height: 100px;
            object-fit: contain;   
        }

        &-name {
            grid-column: 3 / span 2;
            justify-self: flex-start;
        }
    }

    &__summary {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 2rem;
        justify-content: flex-end;
        padding: 2rem 2rem;

        .section__tagline{ 
            color: var(--clr-dark);
        }

        .right {
            justify-self: flex-end;
        }
    }

    &__empty {
        padding: 3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--medium-font-size);
        font-weight: var(--fw-regular);
        color: var(--clr-darkblue);
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
    }
}



/* ========== CHECKOUT ========== */
.checkout {
    display: grid;
    gap: 2rem;

    &__section {
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 0 3px 6px rgba(0,0,0,0.02), 0 3px 6px rgba(0,0,0,0.1);

        .form {
            padding: 2rem 0;
            display: grid;
            gap: 1rem;
        }

        .field {
            padding: 0.5rem;
            margin-top: 0.5rem;
            font-size: var(--small-font-size);
            width: 100%;
            border: 1px solid var(--clr-lightgray);
            border-radius: 0.25rem;
        }

        .span {
            grid-column: 1 / -1;
        }

        &.payment {
            display: flex;
            flex-direction: column;

            .message {
                padding: 2rem 0;
                justify-self: center;
                color: var(--clr-darkblue);
                display: grid;
                gap: 20px;
            }
        }

        &.summary {
            display: grid;
            align-content: space-between;
            background: var(--clr-lightgray);
            box-shadow: none;

            .section__tagline {
                color: var(--clr-dark);
                font-weight: var(--fw-regular);
            }

            span {
                float: right;
            }
        }
    }
}





/* =================================== */
/* ========== MEDIA QUERIES ========== */
/* =================================== */
@media screen and (max-width: 500px) {
    .cart {
        &__header {
            .section__title {
                font-size: 0.75rem;
            }

            &-item {
                margin-left: 1rem;
            }
        }
    }
}


@media screen and (min-width:500px) and (max-width: 769px) {
    .cart {
        &__header {
            .section__title {
                font-size: var(--medium-font-size);
            }

        }

    }
}


@media screen and (min-width: 768px) {
    .checkout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "billing billing"
            "summary payment"
            "button button";
        gap: 2rem;

        &__section {
            .form {
                grid-template-columns: 1fr 1fr;
            }

            &.billing {
                grid-area: billing;
            }
    
            &.summary {
                grid-area: summary;
            }
    
            &.payment {
                grid-area: payment;
            }
        }

        .back-btn {
            grid-area: button;
            justify-self: center;
        }
    }
}


@media screen and (min-width: 1024px) {
    .checkout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "billing summary"
            "billing payment"
            "billing button";
        gap: 1rem 2rem;

        &__section {
            .form {
                grid-template-columns: 1fr 1fr;
            }

            &.payment {
                align-self: flex-start;
            }
        }

        .back-btn {
            grid-area: button;
            justify-self: initial;
            align-self: center;
        }
    }
}