/* ========== SHOP BANNER ========== */
.banner {
    padding: 2rem;
    background: var(--clr-glacier);
    text-align: center;
    font-size: var(--biggest-font-size);
    font-weight: var(--fw-semibold);
    color: var(--clr-gray);
}

@media screen and (min-width: 768px) {
    .banner {
        padding: 3rem;
    }
}


/* ========== SORTFILTER ========== */
.sortfilter {
    padding-bottom: 0rem;
    display: flex;
    justify-content: center;
    gap: 20px;

    label {
        margin-right: 10px;
        color: var(--clr-dark);
        font-weight: var(--fw-semibold);
    }

    select {
        padding: 0.25rem;
    }
}


/* ========== PRODUCT ========== */
.products {
    display: grid;
}





/* =================================== */
/* ========== MEDIA QUERIES ========== */
/* =================================== */
